@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display";
  /* Enables scroll on x axis only, needed when there are few scroll options */
  overflow-x: hidden; 
  margin: 0;
}

.container {
    background-color: bisque;
    /* Transform origin is what determines the starter position of the transformation in question */
    transform-origin: top left;
    /* We want the transition not to be instant */
    transition: transform 0.4s linear;
    width: 100vh;
    min-height: 100vh;
    padding: 20px;
}

/* When he have the "show-nav" class this changes apply */
.container.show-nav { 
    transform: rotate(-20deg);
}

