@import url("https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap");

/* Custom property (a variable like for CSS that we can call upon, useful when we have multiple same values) */
:root {
  --line-border-fill: #1caef2;
  --line-border-empty: #e2e3e3;
}

* {
  box-sizing: border-box;
}

body {
  /* font-family: 'Wix Madefor Display', sans-serif; */
  background-color: #89a6ac;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  text-align: center;
}

.progress-contanier {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10%;
  max-width: 100%;
  width: 350px;
}

/* The standard line before it "fills" up ::before is pseudo-element that's used for stuff like this */
.progress-contanier::before {
  /* content makes it appear */
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  height: 3px;
  width: 100%;
  z-index: -1;
}

/* The line that goes between */
.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0px;
  /* Moves the line in the middle of numbers(up/down/left/right) */
  transform: translateY(-50%);
  height: 3px;
  /* To see the line */
  width: 0%;
  /* To make sure its behind the numbers */
  z-index: -1;
  /* When moved the line will move slowly */
  transition: 0.4s ease;
}

.circle {
  background-color: var(--line-border-empty);
  /* Numbers color */
  color: #373030;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  /* Center the numbers inside */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Border adjustments */
  border: 3px solid var(--line-border-empty);
  /* Transition color change when its active circle */
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #373030;
  /* Removes border color */
  border: 0;
  border-radius: 7px;
  cursor: pointer;
  /* You can inherit the font-family */
  /* font-family: inherit; */
  font-family: "Wix Madefor Display", sans-serif;
  font-size: 15px;
  padding: 8px 25px;
  margin: 5px;
}

/* Makes the button jumpy */
.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
